MyAdvantechAPI/Advantech.Myadvantech.DataAccess/Service References/CTOSDocTunnel/CTOSDocTunnel.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CTOSDocTunnel" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ifs.advantech.co.jp/services/ctos/CTOSDocTunnel.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ifs.advantech.co.jp/services/ctos/CTOSDocTunnel.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ifs.advantech.co.jp/services/ctos/CTOSDocTunnel.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Advantech.Mes.Ctos.Services.CTOS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICTOSDocTunnel_GetFAEDocumentList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFAEDocumentList" />
  </wsdl:message>
  <wsdl:message name="ICTOSDocTunnel_GetFAEDocumentList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFAEDocumentListResponse" />
  </wsdl:message>
  <wsdl:message name="ICTOSDocTunnel_GetCustomerDocumentList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerDocumentList" />
  </wsdl:message>
  <wsdl:message name="ICTOSDocTunnel_GetCustomerDocumentList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerDocumentListResponse" />
  </wsdl:message>
  <wsdl:portType name="ICTOSDocTunnel">
    <wsdl:operation name="GetFAEDocumentList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTOSDocTunnel/GetFAEDocumentList" message="tns:ICTOSDocTunnel_GetFAEDocumentList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTOSDocTunnel/GetFAEDocumentListResponse" message="tns:ICTOSDocTunnel_GetFAEDocumentList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerDocumentList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTOSDocTunnel/GetCustomerDocumentList" message="tns:ICTOSDocTunnel_GetCustomerDocumentList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTOSDocTunnel/GetCustomerDocumentListResponse" message="tns:ICTOSDocTunnel_GetCustomerDocumentList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICTOSDocTunnel" type="tns:ICTOSDocTunnel">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFAEDocumentList">
      <soap:operation soapAction="http://tempuri.org/ICTOSDocTunnel/GetFAEDocumentList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerDocumentList">
      <soap:operation soapAction="http://tempuri.org/ICTOSDocTunnel/GetCustomerDocumentList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CTOSDocTunnel">
    <wsdl:port name="BasicHttpBinding_ICTOSDocTunnel" binding="tns:BasicHttpBinding_ICTOSDocTunnel">
      <soap:address location="http://ifs.advantech.co.jp/services/ctos/CTOSDocTunnel.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>