MyAdvantechAPI/Advantech.Myadvantech.DataAccess/Service References/CTOSDocTunnel/CTOSDocTunnel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Advantech.Mes.Ctos.Services.CTOS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Advantech.Mes.Ctos.Services.CTOS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCTOSDocItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CTOSDocItem" nillable="true" type="tns:CTOSDocItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCTOSDocItem" nillable="true" type="tns:ArrayOfCTOSDocItem" />
  <xs:complexType name="CTOSDocItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerPartNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAEName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StandardPartNO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CTOSDocItem" nillable="true" type="tns:CTOSDocItem" />
</xs:schema>