MyAdvantechAPI/Advantech.Myadvantech.DataAccess/Web References/WSSiebel_UpdContact/UpdContact-MYADVANTECH.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/ADVContactIO" xmlns:tns="http://siebel.com/CustomUI" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/CustomUI" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/ADVContactIO">
      <xsd:annotation>
        <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
      </xsd:annotation>
      <xsd:element name="CON" type="xsdLocal1:CON" />
      <xsd:complexType name="CONTopElmt">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="CON" type="xsdLocal1:CON" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CON">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="IS_ACTIVE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CELLULAR" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CMT" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="EMAIL" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FAX_PHONE" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="FST_NAME" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DATA_SRC" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="INTEGRATION_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="JOB_FUNCTION" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="JOB_TITLE" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="LST_NAME" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="MR_MS" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="MIDDLE_NAME" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ROW_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="IS_NAVER_CALL" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="IS_NEVER_EMAIL" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="IS_NAVER_MAIL" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UPLOAD_FROM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="USER_TYPE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WORK_PHONE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ORG" type="xsdLocal1:ORG" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="POSITION" type="xsdLocal1:POSITION" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="BAA" type="xsdLocal1:BAA" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="LIST_IP" type="xsdLocal1:LIST_IP" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="LIST_IN" type="xsdLocal1:LIST_IN" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="LIST_MP" type="xsdLocal1:LIST_MP" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ACC" type="xsdLocal1:ACC" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="TAG" type="xsdLocal1:TAG" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="SELECTTOPIC" type="xsdLocal1:SELECTTOPIC" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="SIC" type="xsdLocal1:SIC" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ORG">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="NAME" type="xsd:string" />
        </xsd:sequence>
        <xsd:attribute name="IS_PRIMARY" type="xsd:string" />
      </xsd:complexType>
      <xsd:complexType name="POSITION">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="NAME" type="xsd:string" />
        </xsd:sequence>
        <xsd:attribute name="IS_PRIMARY" type="xsd:string" />
      </xsd:complexType>
      <xsd:complexType name="BAA">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="NAME" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LIST_IP">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="NAME" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LIST_IN">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="NAME" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LIST_MP">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="NAME" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ACC">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="ACC_ROW_ID" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TAG">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="NAME" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="COMMENT" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SELECTTOPIC">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="TAG" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SIC">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="NAME" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="CODE" type="xsd:string" />
        </xsd:sequence>
        <xsd:attribute name="IS_PRIMARY" type="xsd:string" />
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/CustomUI">
      <xsd:import namespace="http://www.siebel.com/xml/ADVContactIO" />
      <xsd:element name="UpdContact_Input">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="xsdLocal1:CON" />
            <xsd:element name="SOURCE" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdContact_Output">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Error_spcCode" type="xsd:string" />
            <xsd:element name="Error_spcMessage" type="xsd:string" />
            <xsd:element name="ROW_ID" type="xsd:string" />
            <xsd:element name="STATUS" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="UpdContact_Input">
    <part name="UpdContact_Input" element="tns:UpdContact_Input" />
  </message>
  <message name="UpdContact_Output">
    <part name="UpdContact_Output" element="tns:UpdContact_Output" />
  </message>
  <portType name="ADVWebService-UpdateContact">
    <operation name="UpdContact">
      <input message="tns:UpdContact_Input" />
      <output message="tns:UpdContact_Output" />
    </operation>
  </portType>
  <binding name="ADVWebService-UpdateContact" type="tns:ADVWebService-UpdateContact">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="UpdContact">
      <soap:operation soapAction="document/http://siebel.com/CustomUI:UpdContact" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ADVWebService-UpdateContact">
    <port name="ADVWebService-UpdateContact" binding="tns:ADVWebService-UpdateContact">
      <soap:address location="http://CRMAP-GLOBAL3/eai_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;UserName=MYADVANTECH&amp;Password=MYADVANTECH1234" />
    </port>
  </service>
</definitions>