MyAdvantechAPI/Advantech.Myadvantech.DataAccess/Web References/WSSiebel_AddQuote/AddQuote.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/ADVQuoteIO" xmlns:tns="http://siebel.com/CustomUI" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/CustomUI" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/CustomUI">
      <xsd:import namespace="http://www.siebel.com/xml/ADVQuoteIO" />
      <xsd:element name="AddQuote_Input">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="xsdLocal1:QUOTE" />
            <xsd:element name="SOURCE" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddQuote_Output">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Error_spcCode" type="xsd:string" />
            <xsd:element name="Error_spcMessage" type="xsd:string" />
            <xsd:element name="ROW_ID" type="xsd:string" />
            <xsd:element name="STATUS" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/ADVQuoteIO">
      <xsd:annotation>
        <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
      </xsd:annotation>
      <xsd:element name="QUOTE" type="xsdLocal1:QUOTE" />
      <xsd:complexType name="QUOTETopElmt">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="QUOTE" type="xsdLocal1:QUOTE" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="QUOTE">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="ACCOUNT_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="COMMENTS" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DUE_DATE" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="NAME" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OPPORTUNITY_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CURRENCY_CODE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ORGANIZATION" type="xsdLocal1:ORGANIZATION" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="POSITION" type="xsdLocal1:POSITION" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="QUOTE_ITEM" type="xsdLocal1:QUOTE_ITEM" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ORGANIZATION">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="NAME" type="xsd:string" />
        </xsd:sequence>
        <xsd:attribute name="IS_PRIMARY" type="xsd:string" />
      </xsd:complexType>
      <xsd:complexType name="POSITION">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="NAME" type="xsd:string" />
        </xsd:sequence>
        <xsd:attribute name="IS_PRIMARY" type="xsd:string" />
      </xsd:complexType>
      <xsd:complexType name="QUOTE_ITEM">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="PRODUCT_NAME" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PRODUCT_QUANTITY" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DELIVERY_DATE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DISCOUNT_PRICE" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="AddQuote_Input">
    <part name="AddQuote_Input" element="tns:AddQuote_Input" />
  </message>
  <message name="AddQuote_Output">
    <part name="AddQuote_Output" element="tns:AddQuote_Output" />
  </message>
  <portType name="ADVWebService-AddQuote">
    <operation name="AddQuote">
      <input message="tns:AddQuote_Input" />
      <output message="tns:AddQuote_Output" />
    </operation>
  </portType>
  <binding name="ADVWebService-AddQuote" type="tns:ADVWebService-AddQuote">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="AddQuote">
      <soap:operation soapAction="document/http://siebel.com/CustomUI:AddQuote" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ADVWebService-AddQuote">
    <port name="ADVWebService-AddQuote" binding="tns:ADVWebService-AddQuote">
      <soap:address location="http://crmap-global3/eai_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;UserName=MYADVANTECH&amp;Password=MYADVANTECH1234" />
    </port>
  </service>
</definitions>